/**
    * @author  EliasDH Team
    * @see https://eliasdh.com
    * @since 01/01/2025
**/

/* Global Styles */
:root[data-theme="dark"] {
    --text: #ebe9fc;
    --background: #010104;
    --primary: #d9d9d8;
    --secondary: #8c6e2b;
    --accent: #141414;
}

:root[data-theme="light"] {
    --text: #050315;
    --background: #fbfbfe;
    --primary: #272726;
    --secondary: #d4b674;
    --accent: #eaeaea;
}

:root {
    --shadow: rgba(0, 0, 0, 0.1);
}
/* Global Styles */

/* Cursor */
* {
    cursor: url('/assets/media/svg/cursor-auto.svg'), auto;
}

.cursor-default {
    cursor: url('/assets/media/svg/cursor-default.svg'), default;
}

.cursor-pointer {
    cursor: url('/assets/media/svg/cursor-pointer.svg'), pointer;
}
/* Cursor */

/* Global Body */
body {
    background-color: var(--background);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}
/* Global Body */

/* Global Selection */
::selection {
    background-color: var(--primary);
    color: var(--accent);
}
/* Global Selection */

/* Global Selection */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--primary);
}

::-webkit-scrollbar-corner {
    background-color: var(--primary);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    display: none;
}
/* Global Selection */